<html>
    <head>
        <title>Nominees</title>
        <link rel="stylesheet" type="text/css" href="/css/cand.css">
        <link rel="icon" type="image/png" href="/download.png"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <meta charset="utf-8">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
        <script src="myScript.js"></script>
    </head>
    <body>
        <style>
          body{
    background-color: #7BC5AE;
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    color:white
}
        </style>


        <center><h3 class = "display-3" ><b>OUR NOMINEES</b></h3></center>
    <center>
<div class="content">
            <div class="photos" id="photos">
                <div class="ed-row">
                    <div class="ed-data">
                        <h2> <b>SOPHIE</b></h2>
                        <h3>“When one with honeyed words but evil mind
                            Persuades the mob, great woes befall the state.”</h3>
                        <p> <i>2020 - Present</i> </p>
                    </div>
                    <div class="ed-grade">
                        <img src="/images/cand1.jpg"height="150px" width="150px">
                    </div>
                </div>
                <div class="ed-row">
                    <div class="ed-data">
                        <h2> <b>Han Hue</b></h2>
                        <h3>“Don't blow off another's candle for it won't make yours shine brighter.”</h3>
                        <p> <i>2018 - 2020</i> </p>
                    </div>
                    <div class="ed-grade">
                        <img src="/images/cand2.jpg"height="150px" width="150px">
                    </div>
                </div>
                <div class="ed-row">
                    <div class="ed-data">
                        <h2> <b>Mickey</b></h2>
                        <h3>“A vote is like a rifle: its usefulness depends upon the character of the user.”</h3>
                        <p> <i>2018</i> </p>
                    </div>
                    <div class="ed-grade">
                        <img src="/images/cand3.png"height="150px" width="150px">
                    </div>
                </div>
                <div class="ed-row">
                    <div class="ed-data">
                        <h2> <b>Bethany</b></h2>
                        <h3>“It is perhaps a sign of the strength of our republic that so few people feel the need to participate. That must be the reason.”</h3>
                        <p> <i>2018</i> </p>
                    </div>
                    <div class="ed-grade">
                        <img src="/images/cand4.jpg"height="150px" width="150px">
                    </div>
                </div>
                <div class="ed-row">
                    <div class="ed-data">
                        <h2> <b>Anagha</b></h2>
                        <h3>“People never lie so much as after a hunt, during a war, or before an election.”</h3>
                        <p> <i>2018</i> </p>
                    </div>
                    <div class="ed-grade">
                        <img src="/images/cand5.jpg"height="150px" width="150px">
                    </div>
                </div>
            </div>
        
        <br><br>
    </div>
</div>
</center>
    </body>
</html>